{% extends 'base.twig' %}

{% block content %}
{% include "partials/header.twig" with header_theme='light' %}
<div class="authLayout">
  <div class="login">
    <div class="loginIntro">
      <h3 class="jss19 jss36">Forgot your password?</h3>
      <p class="jss19 jss28">Reset it here.</p>
    </div>
    <div class="loginPrimary">
      <div class="pwdLoginForm loginPrimaryForm">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="alexandriaButton pwdLoginFormSubmit" tabindex="0" type="submit">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "partials/footer.twig" %}
{% endblock %}
