{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="item">
    <div class="itemHeader">
      <h1>
        {{comment.revisions.last.title}}
      </h1>
    </div>
    <div class="itemContent">
      <div class="textLinks">
        {% for commenter in comment.commenters.all %}
          <a href="/commenters/{{commenter.username}}">{{ commenter.first_name }} {{ commenter.last_name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        <span class="textLinksBullet"></span>
        <div class="date">
          Last updated at
          {{comment.revisions.first.updated_at}}
        </div>
      </div>
      <div class="textReadButton">
        <a class="alexandriaButton" tabindex="0" role="button" href="{% url 'read' urn=comment.urn %}">
          Read in Context
        </a>
      </div>
      <section>
        {{comment.revisions.first.text|safe}}
      </section>
    </div>
    {% include "partials/footer.twig" %}
  {% endblock %}
