{% extends "base.twig" %}

{% block title %}
  {{request.GET.s}}
  Texts | {{project.title}}
{% endblock %}

{% block content %}
  {% include "partials/header.twig" with header_theme="-light" %}
  <div class="dashboard">
    <div class="facetedCards">
      <div class="facetedCardsContent">
        <div class="sticky-outer-wrapper facetedCardsContentFilters" style="">
          <div class="sticky-inner-wrapper" style="position: relative; transform: translate3d(0px, 0px, 0px);">
            <div class="facetedCardsContentFiltersInner">
              {% include 'partials/filters.twig' %}
            </div>
          </div>
        </div>
        <div class="facetedCardsContentCards">
          <div class="list">
            {% for item in items %}
              <div class="listItem">
                {% include 'partials/card.twig' %}
              </div>
            {% empty %}
              <div class="listItem">
                <p>
                  No texts were matched for this query.
                </p>
              </div>
            {% endfor %}
          </div>
          {% include "partials/pagination.twig" %}
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
