{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" with header_theme='light' %}
  <div class="authLayout">
    <div class="login">
      <div class="loginIntro">
        <h3 class="jss19 jss36">Welcome Back</h3>
        <p class="jss19 jss28">To continue, please log in.</p>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="loginPrimary">
        <div class="pwdLoginForm loginPrimaryForm">
          <form id="login_form" method="post" action="{% url 'login' %}?redirect_to={{redirect_to}}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="authField">
              <div class="jss55 authFieldInput" autocapitalize="none" autocorrect="off" spellcheck="false">
                <div class="jss90 jss77 jss91">
                  <input placeholder="Username" type="text" name="username" value="" size="50"/>
                </div>
              </div>
            </div>
            <div class="authField">
              <div class="jss55 authFieldInput" autocapitalize="none" autocorrect="off" spellcheck="false">
                <input placeholder="Password" type="password" name="password" value="" size="50"/>
              </div>
            </div>
            <p class="jss19 jss27 errorText"></p>
            <button class="alexandriaButton pwdLoginFormSubmit" tabindex="0" type="submit">
              Log In
            </button>
          </form>
        </div>
      </div>
      <div class="loginSecondary">
        <p class="jss19 jss27">
          New to Alexandria?
          <a href="https://forms.gle/kWxKw4aNySAyftJN9" target="_blank">Request early access</a>
        </p>
        <div class=":global m1">
          <p class="jss19 jss27">Forgot your password?
            <a href="/accounts/password_reset/">Reset it</a>.</p>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
