{% extends "base.twig" %}

{% block content %}
	{% include "partials/header.twig" %}



	<div class="content-wrapper page">
    <div class="cover">
        {% if project.background_image %}
          <div class="coverBackground" style="background-image: url(&quot;{{aws_url}}{{project.background_image}}&quot;);"></div>
        {% else %}
          <div class="coverBackground" style="background-image: url(&quot;//iiif.orphe.us/mss_2.jpg/full/full/0/default.jpg&quot;);"></div>
        {% endif %}
        <div class="coverBackgroundGradient"></div>
    </div>
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				{{ about_html | safe }}
			</section>
		</article>
	</div><!-- /content-wrapper -->

	{% include "partials/footer.twig" %}
{% endblock %}
