{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" with header_theme='light' %}
  <div class="authLayout">
    <div class="login">
      <div class="loginIntro">
        <h3 class="jss19 jss36">Upload a new text</h3>
        <p class="jss19 jss28">Create a new text in text server database by uploading a text in XML format.</p>
      </div>
      <div class="loginPrimary">
        <div class="pwdLoginForm loginPrimaryForm">

            <form id="text_upload_form" method="post" action="{% url "text_upload" %}" enctype="multipart/form-data">
              {% csrf_token %}

              {{ message }}

              {% if not uploaded %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.text_file.label_tag }} {{ form.text_file.help_text }}</p>
                <p>
                    {{ form.text_file.errors }}
                    {{ form.text_file }}
                </p>
                <p><input type="submit" value="Upload"/></p>
              {% else %}
                <div class=":global m1">
                  <p class="jss19 jss27" style="text-align: center;">
                    <a href="/texts/upload">Upload another?</a>
                  </p>
                </div>
              {% endif %}

            </form>

        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
